# H2o AutoMl

In [2]:
# Importation des packages
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.animation as animation
from matplotlib import rc
import pandas as pd

In [3]:
## Imporation des données
df = pd.read_csv("../Data/Data_Science_Salaries.csv", sep=";")

In [4]:
## Afficher les types de données
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Title           5736 non-null   object
 1   Employment_Type     5736 non-null   object
 2   Experience_Level    5736 non-null   object
 3   Expertise_Level     5736 non-null   object
 4   Salary              5736 non-null   int64
 5   Salary_Currency     5736 non-null   object
 6   Company_Location    5736 non-null   object
 7   Salary_in_USD       5736 non-null   int64
 8   Employee_Residence  5736 non-null   object
 9   Company_Size        5736 non-null   object
 10  Year                5736 non-null   int64
dtypes: int64(3), object(8)
memory usage: 493.1+ KB

In [5]:
# Afficher par defaut les 5 premières lignes
df.head()

,Job_Title,Employment_Type,Experience_Level,Expertise_Level,Salary,Salary_Currency,Company_Location,Salary_in_USD,Employee_Residence,Company_Size,Year
0,Data Engineer,Full-Time,Mid,Intermediate,138000,United States Dollar,United States,138000,United States,Medium,2024
1,Data Engineer,Full-Time,Mid,Intermediate,86000,United States Dollar,United States,86000,United States,Medium,2024
2,Data Analyst,Full-Time,Entry,Junior,179000,United States Dollar,United States,179000,United States,Medium,2024
3,Data Analyst,Full-Time,Entry,Junior,112000,United States Dollar,United States,112000,United States,Medium,2024
4,Business Intelligence Developer,Full-Time,Mid,Intermediate,92000,United States Dollar,United States,92000,United States,Medium,2024

In [6]:
# Afficher la dimension du dataframe
df.shape

(5736, 11)

In [7]:
# Afficher les statistiques descriptives
df.describe()

             Salary  Salary_in_USD         Year
count  5.736000e+03    5736.000000  5736.000000
mean   1.831648e+05  144264.031032  2022.743375
std    5.637801e+05   70646.771842     0.644506
min    1.400000e+04   15000.000000  2020.000000
25%    9.500000e+04   93300.000000  2023.000000
50%    1.397250e+05  136771.500000  2023.000000
75%    1.880000e+05  185000.000000  2023.000000
max    3.040000e+07  750000.000000  2024.000000

In [8]:
# Afficher les valeurs manquantes
df.isnull().sum()

Job_Title             0
Employment_Type       0
Experience_Level      0
Expertise_Level       0
Salary                0
Salary_Currency       0
Company_Location      0
Salary_in_USD         0
Employee_Residence    0
Company_Size          0
Year                  0
dtype: int64

In [10]:
# Supprimer les colonnes Salary et Salary_Currency
df = df.drop(['Salary','Salary_Currency'], axis=1)

In [11]:
# Afficher les types des colonnes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Title           5736 non-null   object
 1   Employment_Type     5736 non-null   object
 2   Experience_Level    5736 non-null   object
 3   Expertise_Level     5736 non-null   object
 4   Company_Location    5736 non-null   object
 5   Salary_in_USD       5736 non-null   int64
 6   Employee_Residence  5736 non-null   object
 7   Company_Size        5736 non-null   object
 8   Year                5736 non-null   int64
dtypes: int64(2), object(7)
memory usage: 403.4+ KB

In [12]:
# Convertir la colonne Year en type object
df['Year'] = df['Year'].astype(object)

In [13]:
# Verifier le types des colonnes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Title           5736 non-null   object
 1   Employment_Type     5736 non-null   object
 2   Experience_Level    5736 non-null   object
 3   Expertise_Level     5736 non-null   object
 4   Company_Location    5736 non-null   object
 5   Salary_in_USD       5736 non-null   int64
 6   Employee_Residence  5736 non-null   object
 7   Company_Size        5736 non-null   object
 8   Year                5736 non-null   object
dtypes: int64(1), object(8)
memory usage: 403.4+ KB

In [9]:
#df ['Year'] = pd.to_datetime(df['Year'], format='%Y')

In [14]:
df.head()
# Supprimer la colonne salary'
#df = df.drop(columns=['salary'])

,Job_Title,Employment_Type,Experience_Level,Expertise_Level,Company_Location,Salary_in_USD,Employee_Residence,Company_Size,Year
0,Data Engineer,Full-Time,Mid,Intermediate,United States,138000,United States,Medium,2024
1,Data Engineer,Full-Time,Mid,Intermediate,United States,86000,United States,Medium,2024
2,Data Analyst,Full-Time,Entry,Junior,United States,179000,United States,Medium,2024
3,Data Analyst,Full-Time,Entry,Junior,United States,112000,United States,Medium,2024
4,Business Intelligence Developer,Full-Time,Mid,Intermediate,United States,92000,United States,Medium,2024

In [15]:
# Importation du modele avec h2o
import h2o
from h2o.automl import H2OAutoML

In [16]:
# Initialisation de h2o
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) Client VM (build 25.421-b09, mixed mode, sharing)
  Starting server from C:\Users\bagay\AppData\Local\Programs\Python\Python312\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\bagay\AppData\Local\Temp\tmpwni_be3m
  JVM stdout: C:\Users\bagay\AppData\Local\Temp\tmpwni_be3m\h2o_bagay_started_from_python.out
  JVM stderr: C:\Users\bagay\AppData\Local\Temp\tmpwni_be3m\h2o_bagay_started_from_python.err

c:\Users\bagay\AppData\Local\Programs\Python\Python312\Lib\site-packages\h2o\backend\server.py:395: UserWarning:   You have a 32-bit version of Java. H2O works best with 64-bit Java.
  Please download the latest 64-bit Java SE JDK from Oracle.

  warn("  You have a 32-bit version of Java. H2O works best with 64-bit Java.\n"

  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.4
H2O_cluster_version_age:    1 month and 9 days
H2O_cluster_name:           H2O_from_python_bagay_rstp2a
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    247.5 Mb
H2O_cluster_total_cores:    0
H2O_cluster_allowed_cores:  0
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.12.4 final
--------------------------  -----------------------------

In [17]:
# Transformation de la dataframe pandas df en un objet H2O frame
h2o_df = h2o.H2OFrame(df)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [19]:
print(h2o_df.types)

{'Job_Title': 'enum', 'Employment_Type': 'enum', 'Experience_Level': 'enum', 'Expertise_Level': 'enum', 'Company_Location': 'enum', 'Salary_in_USD': 'int', 'Employee_Residence': 'enum', 'Company_Size': 'enum', 'Year': 'int'}

In [20]:
# Variables indépendantes (Features) et Variable cible (Target)
train, test = h2o_df.split_frame(ratios = [0.75]) # 25% des observations pour le test set
x = train.columns
y = "Salary_in_USD"
x.remove(y)

In [120]:
#pip install xgboost

In [121]:
#from xgboost import XGBRegressor  # Pour la régression
#from xgboost import XGBClassifier  # Pour la classification

In [21]:
# Création d'un modèle H2OAutoML

aml = H2OAutoML(max_runtime_secs = 600, 
                #balance_classes = True, 
                #stopping_metric = 'logloss',# 'logloss' pour la classification, 'deviance' pour la régression
                #project_name ='Final', 
                seed = 1)

# Entraînement du modèle

%time aml.train(x = x, y = y, training_frame = train)

AutoML progress: |
16:55:06.35: AutoML: XGBoost is not available; skipping it.

███████████████████████████████████████████████████████████████| (done) 100%
CPU times: total: 2.47 s
Wall time: 10min 10s

Model Details
=============
H2OStackedEnsembleEstimator : Stacked Ensemble
Model Key: StackedEnsemble_BestOfFamily_4_AutoML_1_20240819_165505


Model Summary for Stacked Ensemble:
key                                        value
-----------------------------------------  ----------------
Stacking strategy                          cross_validation
Number of base models (used / total)       3/5
# GBM base models (used / total)           1/1
# DRF base models (used / total)           1/2
# DeepLearning base models (used / total)  1/1
# GLM base models (used / total)           0/1
Metalearner algorithm                      GLM
Metalearner fold assignment scheme         Random
Metalearner nfolds                         5
Metalearner fold_column
Custom metalearner hyperparameters         None

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 2867918056.7168956
RMSE: 53552.94629352241
MAE: 37609.88972492311
RMSLE: 0.3452331394039009
Mean Residual Deviance: 2867918056.7168956
R^2: 0.4349556459620636
Null degrees of freedom: 4308
Residual degrees of freedom: 4305
Null deviance: 21870599746871.16
Residual deviance: 12357858906393.104
AIC: 106074.86835595078

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 3276007909.834627
RMSE: 57236.42118297253
MAE: 41116.393002246055
RMSLE: 0.3922030994594683
Mean Residual Deviance: 3276007909.834627
R^2: 0.35455276732880303
Null degrees of freedom: 4308
Residual degrees of freedom: 4305
Null deviance: 21874464027214.24
Residual deviance: 14116318083477.408
AIC: 106648.13439679373

Cross-Validation Metrics Summary:
                        mean         sd           cv_1_valid    cv_2_valid    cv_3_valid    cv_4_valid    cv_5_valid
----------------------  -----------  -----------  ------------  ------------  ------------  ------------  ------------
aic                     21335.9      872.159      21960.6       22056.2       21064.4       21660.5       19937.8
loglikelihood           0            0            0             0             0             0             0
mae                     41135.8      855.592      40637.6       41006.5       40308.1       41185.4       42541.4
mean_residual_deviance  3.27732e+09  2.24524e+08  3.3662e+09    2.9196e+09    3.44853e+09   3.45203e+09   3.20024e+09
mse                     3.27732e+09  2.24524e+08  3.3662e+09    2.9196e+09    3.44853e+09   3.45203e+09   3.20024e+09
null_deviance           4.37489e+12  2.57254e+11  4.74509e+12   4.12637e+12   4.36227e+12   4.49328e+12   4.14744e+12
r2                      0.354567     0.0241304    0.371438      0.366313      0.328742      0.328315      0.378027
residual_deviance       2.82326e+12  2.09865e+11  2.98246e+12   2.61304e+12   2.9278e+12    3.01362e+12   2.57939e+12
rmse                    57220.2      1989.4       58019         54033.3       58724.2       58754         56570.7
rmsle                   0.392231     0.0136688    0.388571      0.380226      0.379055      0.407048      0.406256

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [22]:
# Meilleur modèle
Auto_Ml= aml.leader
#Auto_Ml

In [23]:
# Performance du meilleur modèle sur les données de test
Auto_Ml.model_performance(test)

ModelMetricsRegressionGLM: stackedensemble
** Reported on test data. **

MSE: 2975433901.5350165
RMSE: 54547.537997007865
MAE: 41350.11224680398
RMSLE: 0.3881888459736336
Mean Residual Deviance: 2975433901.5350165
R^2: 0.3708292309935751
Null degrees of freedom: 1426
Residual degrees of freedom: 1423
Null deviance: 6753955430125.962
Residual deviance: 4245944177490.4683
AIC: 35187.737278449684

In [24]:
# Prédictions sur les données de test
preds = Auto_Ml.predict(test)
preds

stackedensemble prediction progress: |

███████████████████████████████████████████| (done) 100%

  predict
---------
  93060.7
 116478
 101817
 101817
 170920
 159210
 127229
 134414
 171534
 137767
[1427 rows x 1 column]

In [30]:
# Enregistrer le modèle
model_path = h2o.save_model(model=Auto_Ml, path="../Models", force=True)

In [88]:
# Enregistrer le modèle
#h2o.save_model(model=Auto_Ml, path="../Models/", force=True)

'C:\\Users\\bagay\\Desktop\\PorfolioGitCopie\\Models\\GBM_grid_1_AutoML_5_20240816_103921_model_5'

In [90]:
# Charger le modèle enregistré
#loaded_model = h2o.load_model("../Models/Data_Science_Wage_Model")

In [97]:
# Sauvegarder le modele aec joblib
#import joblib
#joblib.dump(Auto_Ml, '../Models/Data_Science_Wage_Model.pkl')

In [20]:
## Sauvegarder le meilleur modèle
model_path = h2o.save_model(model=Auto_Ml, path="../Models/", force=True)
print(model_path)

C:\Users\bagay\Desktop\PorfolioGitCopie\Models\GBM_grid_1_AutoML_1_20240817_31521_model_5

In [26]:
# Importation du package joblib
import joblib

# Sauvegarder le chemin du modèle avec joblib
joblib.dump(model_path, '../Models/Data_Wage.joblib')

# Charger le chemin du modèle avec joblib
model_path = joblib.load('../Models/Data_Wage.joblib')

# Charger le modèle enregistré à partir du chemin
loaded_model = h2o.load_model(model_path)

# Le modèle à la mano

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder

In [15]:
## Imporation des données
df = pd.read_csv("../Data/Data_Science_Salaries.csv", sep=";")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Title           5736 non-null   object
 1   Employment_Type     5736 non-null   object
 2   Experience_Level    5736 non-null   object
 3   Expertise_Level     5736 non-null   object
 4   Salary              5736 non-null   int64
 5   Salary_Currency     5736 non-null   object
 6   Company_Location    5736 non-null   object
 7   Salary_in_USD       5736 non-null   int64
 8   Employee_Residence  5736 non-null   object
 9   Company_Size        5736 non-null   object
 10  Year                5736 non-null   int64
dtypes: int64(3), object(8)
memory usage: 493.1+ KB

In [17]:
## Supprimer les colonnes Salary et Salary_Currency
df = df.drop(['Salary','Salary_Currency'], axis=1)

In [18]:
# Transformer la colonne Year en type object
df['Year'] = df['Year'].astype(object)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Title           5736 non-null   object
 1   Employment_Type     5736 non-null   object
 2   Experience_Level    5736 non-null   object
 3   Expertise_Level     5736 non-null   object
 4   Company_Location    5736 non-null   object
 5   Salary_in_USD       5736 non-null   int64
 6   Employee_Residence  5736 non-null   object
 7   Company_Size        5736 non-null   object
 8   Year                5736 non-null   object
dtypes: int64(1), object(8)
memory usage: 403.4+ KB

In [20]:
# Faire le feature engineering avec label encoding
from sklearn.preprocessing import LabelEncoder

# Instanciation de l'objet LabelEncoder
le = LabelEncoder()

# Encodage des variables qualitatives
df['Job_Title'] = le.fit_transform(df['Job_Title'])
df['Employment_Type'] = le.fit_transform(df['Employment_Type'])
df['Experience_Level'] = le.fit_transform(df['Experience_Level'])
df['Expertise_Level'] = le.fit_transform(df['Expertise_Level'])
df['Company_Location'] = le.fit_transform(df['Company_Location'])
df['Employee_Residence'] = le.fit_transform(df['Employee_Residence'])
df['Company_Size'] = le.fit_transform(df['Company_Size'])

In [31]:
# Afficher les types de données
df.head()

,Job_Title,Employment_Type,Experience_Level,Expertise_Level,Company_Location,Salary_in_USD,Employee_Residence,Company_Size,Year
0,46,2,2,2,73,138000,83,1,2024
1,46,2,2,2,73,86000,83,1,2024
2,36,2,0,3,73,179000,83,1,2024
3,36,2,0,3,73,112000,83,1,2024
4,25,2,2,2,73,92000,83,1,2024

In [32]:
## Montre les valeurs uniques de la colonne Year
df['Company_Size'].unique()

array([1, 0, 2])

In [28]:
print(le.classes_)

['Large' 'Medium' 'Small']

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5736 entries, 0 to 5735
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Title           5736 non-null   int64
 1   Employment_Type     5736 non-null   int64
 2   Experience_Level    5736 non-null   int64
 3   Expertise_Level     5736 non-null   int64
 4   Company_Location    5736 non-null   int64
 5   Salary_in_USD       5736 non-null   int64
 6   Employee_Residence  5736 non-null   int64
 7   Company_Size        5736 non-null   int64
 8   Year                5736 non-null   object
dtypes: int64(8), object(1)
memory usage: 403.4+ KB

In [36]:
# Mettre les variables en type object
df['Job_Title'] = df['Job_Title'].astype(object)
df['Employment_Type'] = df['Employment_Type'].astype(object)
df['Experience_Level'] = df['Experience_Level'].astype(object)
df['Expertise_Level'] = df['Expertise_Level'].astype(object)
df['Company_Location'] = df['Company_Location'].astype(object)
df['Employee_Residence'] = df['Employee_Residence'].astype(object)
df['Company_Size'] = df['Company_Size'].astype(object)

In [37]:
df.shape

(5736, 9)

In [38]:
## Spliter les données en données d'entrainement et données de test
X = df.drop(['Salary_in_USD'], axis=1)
y = df['Salary_in_USD']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [39]:
# Faire le modele de random forest regressor avec sklearn
from sklearn.ensemble import RandomForestRegressor


# Instanciation du modèle
rf = RandomForestRegressor(n_estimators=100, random_state=42)

# Entraînement du modèle
rf.fit(X_train, y_train)

# Prédiction sur les données de test
y_pred = rf.predict(X_test)

# Evaluation du modèle
from sklearn.metrics import mean_squared_error

In [40]:

# Evaluation du modèle
from sklearn.metrics import mean_squared_error

In [43]:
# Prédiction sur les données de test
y_pred = rf.predict(X_test)
y_pred

array([127946.56830142,  94457.93333333,  39148.73183333, ...,
       167034.85150275,  68440.46666667, 189832.58381421])

In [42]:
# Calcul de l'erreur quadratique moyenne
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error :', mse)

Mean Squared Error : 3196666696.661467

In [44]:
# Montrer la performance du modèle
from sklearn.metrics import r2_score

# Calcul du coefficient de détermination
r2 = r2_score(y_test, y_pred)
print('R2 Score :', r2)

R2 Score : 0.3252700502176382

In [47]:
# Importation du package joblib
import joblib

# Sauvegarder le modèle avec joblib
joblib.dump(rf, '../Models/Data_Science_Wage_Model.pkl')

['../Models/Data_Science_Wage_Model.pkl']